
/*This style can also be used as a starting point for other OLPC moodle themes.*/

/* whole page styles */
html {}
body {
margin-left:auto;
margin-right:auto;
margin-top:10px;
width: 820px;
background-color:transparent;
}

/*header styles*/
#header-home,#header { /* header-home is for top of site page, #header is for other pages */

}
#header-home {} /* for header styles that are on the site home page */
#header {} /* for header styles that are NOT on the site home page */

#header-home a, /* you could set a:link, a:visited, a:hover individually if needed*/
#header a{ /*set links to a light color if you have a dark background*/
/* color:white */
}

.headermenu { 
/* Includes You are logged is as and language menu if present */
}
.headermain {
}

.navbar { /* Breadcrumb row on course page */

}
.navbar .first{ /* Breadcrumb row on course page */
/*font-family:"comic sans ms",Georgia, "Times New Roman", Times, serif;*/
}

/* footer styles */

#footer{ /* the whole footer */
}

.stolen{ /* an XO or account related to an XO that has been stolen */
    /* TODO: add some nice highlighting */
}

.sitelink{ /* for the site, this puts the Moodle logo down at the bottom */
/* display:none; */
}
.helplink{ /* the help link to Moodle docs at the bottom of the page */
display:none;
}
.logininfo{ /* this also appears in the header */
 /* display:none; */
/* color:#FFFFFF;*/
/* background-color:#00FF99; */
}

.homelink{ /* A line with a button to return to the site home page */
}

.performanceinfo .rcache {
display:none;
}

/* Content */

#content { /* Space between header and footer; does not color style blocks */
}
.sideblock,  /* set these to transparent to show content picture */
.content,
#course-view .section td.side,
.sideblock .content
 {
background-color:transparent;
}


#right-column { /*Controls the properties of the right hand column.*/

}
#left-column { /*This controls the background color of the lefthand column*/
background-color:transparent;

}
.section{
}
/*These control the different formats of each type of text within the html*/
body,{}
p,{}
a,{}
h1,{}
h2,{}
h3,{}
li,{}
ul,{}

.content{
/*font-family: "Courier New", Courier, mono;*/
}
